*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    
}

.page{
    width: 1024px;
    height: 910px;
    margin: 0 auto;
    position: relative;
    background: url(../images/image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

header{
    background-color: #212121;
    text-align: center;
    padding: 40px;
    margin-bottom: 30px;
    color: white;
}

.menu{
    backdrop-filter: blur(3px);
    border: 1px solid white;
    width: 200px;
    margin-right: 30px;
    padding: 10px 5px;
    
    ul li{
        list-style-type: none;
        text-align: center;
        padding: 5px;
        margin-bottom: 2px;
        a{
            text-decoration: none;
            color: white;
            text-shadow: 2px 2px 2px black;
        }
        
    }
    li:hover{
            transition: all 0.8s ease;
            scale: 1.1;
            text-decoration: 2px underline white;
            animation: slide-underline 0.5s ease;
            text-underline-offset: 3px;
        }
}


.contenu{
    width: 794px;
    height: 600px;
    position: absolute;
    right: 0;
    top: 147px;
}
section{
    position: absolute;
    width: 340px;
    height: 250px;
    backdrop-filter: blur(8px);
    padding: 80px 20px;
    text-align: center;
    border-radius: 30px;
    border: 2px solid white;
    color: white;
    text-shadow: 2px 2px 2px black;
    transition: all 0.8s ease;
    box-shadow: 0px 5px 20px 5px black;
}
.rap{
    top: 0;
    left: 0;
}
.par{
    bottom: 0;
    left: 0;
}
.int{
    right: 30px;
    top: 0;
}
.con{
    bottom: 0;
    right: 30px;
}
section:hover{
    scale: 1.1;
    transition: all 0.8s ease;
    scale: 1.1;
    
    
}
footer{
    background-color: #212121;
    text-align: center;
    padding: 40px;
    width: 1024px;
    position: fixed;
    bottom: 0;
    color: white;
}

/* page Parcours */
.page-parcours{
    width: 1024px;
    height: 1810px;
    margin: 0 auto;
    position: relative;
    background: url(../images/image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.menu-parcours{
    backdrop-filter: blur(3px);
    border: 1px solid white;
    width: 200px;
    margin-right: 30px;
    padding: 10px 5px;
    position: sticky;
    top: 147px;
    left: 0;
    ul li{
        list-style-type: none;
        text-align: center;
        padding: 5px;
        margin-bottom: 2px;
        a{
            text-decoration: none;
            color: white;
            text-shadow: 2px 2px 2px black;
        }
        
    }
    li:hover{
            transition: all 0.6s ease;
            scale: 1.2;
            text-decoration: 2px underline white;
            animation: slide-underline 0.5s ease;
            text-underline-offset: 3px;
    }
}
.contenu-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: url(../images/Maxim_Pacini2.png);
    background-size: cover;
    background-position: center;
    background-position-x: center;
    background-position-y: top;
    margin: 20px auto;
    border: 2px solid white;
}
.contenu-card{
    width: 600px;
    margin: 0 auto;
    color: white;
    backdrop-filter: blur(10px);
    padding: 20px;
    border: 1px solid white;
    text-shadow: 2px 2px 2px black;
    line-height: 1.8;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.button-up{
    border:2px solid white;
    position: absolute;
    text-decoration: none;
    div{
        width: 200px;
        height: 50px;
        color: white;
        text-align: center;
        padding: 10px;
        margin: 0 auto;
        backdrop-filter: blur(3px);
        text-shadow: 2px 2px 2px black;
    }
    
}


/* Page interview */
.page-interview{
    width: 1024px;
    height: 2010px;
    margin: 0 auto;
    position: relative;
    background: url(../images/image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.contenu-interview{
    width: 794px;
    height: 600px;
    position: absolute;
    right: 0;
    top: 147px;
}

/* Moi  */
.chatbox{
    height: 150px;
    width: 350px;
    border-radius: 20px;
    text-align: center;
    margin: 0 0 20px 30px;
    backdrop-filter: blur(2px);
    border: 2px solid white;
    color: white;
    padding: 25px 10px 25px 10px;
    text-shadow: 2px 2px 2px black;
}

.chatbox-image{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url(../images/Maxim_Pacini2.png);
    background-size: cover;
    background-position: center;
    background-position-x: center;
    background-position-y: top;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid white;
}

/* Romain */

.chatbox-image2{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url(../images/Romain2.jpg);
    background-size: cover;
    background-position: center;
    background-position-x: center;
    background-position-y: top;
    margin: 20px 0px 20px 650px;
    border: 2px solid white;
}
.chatbox2{
    font-size: 18px;
    height: 150px;
    width: 500px;
    border-radius: 20px;
    text-align: center;
    margin: 0 0 20px 230px;
    backdrop-filter: blur(2px);
    border: 2px solid white;
    color: white;
    padding: 25px 10px 25px 10px;
    text-shadow: 2px 2px 2px black;
}














@keyframes slide-underline{
    from{
        text-underline-offset: 8px;
        text-decoration: white;
    }
    to{
        text-underline-offset: 3px;
    }
}