*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    
}

.page{
    width: 1024px;
    height: 910px;
    margin: 0 auto;
    position: relative;
    background: url(../images/image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

header{
    background-color: #212121;
    text-align: center;
    padding: 40px;
    margin-bottom: 30px;
    color: white;
}

.menu{
    backdrop-filter: blur(5px);
    border: 1px solid white;
    width: 200px;
    margin-right: 30px;
    padding: 10px 5px;
    
    ul li{
        list-style-type: none;
        text-align: center;
        padding: 5px;
        margin-bottom: 2px;
        a{
            text-decoration: none;
            color: white;
            text-shadow: 2px 2px 2px black;
        }
        
    }
    li:hover{
            transition: all 0.8s ease;
            scale: 1.1;
        }
}


.test{
    width: 794px;
    height: 600px;
    position: absolute;
    right: 0;
    top: 147px;
    border: 1px solid red;
}
section{
    position: absolute;
    width: 340px;
    height: 250px;
    backdrop-filter: blur(8px);
    padding: 80px 20px;
    text-align: center;
    border-radius: 30px;
    border: 2px solid white;
    color: white;
    text-shadow: 2px 2px 2px black;
    transition: all 0.8s ease;
    box-shadow: 0px 5px 20px 5px black;
}
.rap{
    top: 0;
    left: 0;
}
.par{
    bottom: 0;
    left: 0;
}
.int{
    right: 30px;
    top: 0;
}
.con{
    bottom: 0;
    right: 30px;
}
section:hover{
    scale: 1.1;
    transition: all 0.8s ease;
    scale: 1.1;
    
    
}









footer{
    background-color: #212121;
    text-align: center;
    padding: 40px;
    width: 1024px;
    position: fixed;
    bottom: 0;
    color: white;
}